pkgbase = slk
	pkgdesc = A blazingly fast Slack TUI
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/gammons/slk
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	source = git+https://github.com/gammons/slk#tag=v0.9.0
	b2sums = aa491f67bb36bdcc5a460a2b494dd71e1fd091fe12ea4fd81db4304660e8ac6ea1c9ea964aa1e56dac2c0564e07b7df54609a5f39d481f800d93e42a51d8da11

pkgname = slk
